
.masterHeader {
    display: flex;
    justify-content:space-between;
    background-color: #4aaaa5;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}
body {
    background-image: url("embossed-diamond.png");
}

.about {
    display:flex;
    align-content: center;
}

.related-links {
    margin-left: 5px;
    margin-right: 5px;
}
a {
    color:#777777;
}
.mainarea {
    display:flex;
    justify-content: flex-end;
    
}

img {
    display:flex; 
    justify-content:center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 242px;
  }



.container-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
} 



